.user-repo
  margin-top: 20px

.info-repo
  display: flex
  align-items: center
  justify-content: space-between
  flex-direction: row
  margin-bottom: 10px

.repo-counters
  display: flex
  flex-direction: row

.repo_stars-mark
  width: 50px
  display: flex
  flex-direction: row

.repo_fork-mark
  width: 50px
  display: flex
  flex-direction: row

.repo_stars-number
  margin: 0

.repo_fork-number
  margin: 0


  
  